snippet jest
import React from 'react';

import {render, fireEvent} from '@testing-library/react';

import $1 from '${2:./}$1'

describe('$1', () => {
  let subject;

  beforeEach(() => {
    subject = <$1/>;

    const {getAllByRole} = render(subject);

    pageLinks = getAllByRole('button');
  });

  itRenders(() => subject);

  $0
});
endsnippet
